<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <system.webServer>
            <rewrite>
                <rules>
                    <rule name="Redirect To WWW" enabled="true" stopProcessing="true">
                        <match url=".*" />
                        <conditions logicalGrouping="MatchAny">
                            <add input="{HTTP_HOST}" pattern="^az\.training$" />
                        </conditions>
                        <action type="Redirect" url="http://www.{HTTP_HOST}{URL}" redirectType="Permanent" />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
</configuration>